.button-logo {
    position: relative;
    width: 128px;
    height: 128px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: none;
    border: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    transition: all 0.3s ease;
    animation: none;
}

.button-logo:hover {
    transform: scale(1.05);
    animation: none;
}

/* Добавляем стили для picture, чтобы он не ломал верстку */
.button-logo picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-logo .logo-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
