# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- PyCharm (JetBrains) ---
# Игнорируем настройки IDE, чтобы не мешать другим (или себе на другом ПК)
.idea/
*.iml

# --- Web & Node.js (Gulp) ---
# Самое важное: не коммитим библиотеки node
node_modules/
src/node_modules/
npm-debug.log

# --- System ---
.DS_Store
Thumbs.db

# --- Project Specific ---
# Игнорируем сгенерированную структуру и временные файлы
*.log
