.search-input-rich {
    .caret-spacer {
        display: inline-block;
        min-width: 12px;
        min-height: 1.2em;
        vertical-align: middle;
        cursor: text;
        white-space: pre;
    }
}
