.upload-area {
    position: relative;
    /* ТЕМНЫЙ ФОН (Dark Glass) */
    background: rgba(0, 0, 0, 0.6);
    /* Граница чуть ярче для контраста */
    border: 2px dashed rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin-bottom: 25px;
    transition: all 0.3s ease;

    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    /* Тень для объема */
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
