.profile-header .stat-hero-card {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 20px;
    border: none;
    background: transparent;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 60px;
    min-height: 50px;
    justify-content: center;

    &.changing-skin {
        opacity: 0;
        transform: scale(0.95);
    }
}

.stat-hero-card .hero-header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}

/* Иконка героя */
.stat-hero-card picture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Для псевдоэлемента */
    overflow: hidden;
}

.stat-hero-card .stat-hero-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

/* Если иконка внутри picture */
.stat-hero-card picture .stat-hero-icon {
    width: 64px;
    height: 64px;

    /* Удаляем маску */
    -webkit-mask-image: none;
    mask-image: none;
}

.stat-hero-card .stat-hero-level-container,
.stat-hero-card .stat-hero-rating-container {
    position: relative;
    width: 64px;
    height: 64px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-hero-card .stat-hero-level-frame,
.stat-hero-card .stat-hero-league {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-hero-card .stat-hero-level-frame img,
.stat-hero-card .stat-hero-league img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.stat-hero-card .stat-hero-level-text,
.stat-hero-card .stat-hero-rating {
    position: relative;
    z-index: 2;
    font-size: clamp(12px, 2vw, 15px);
    font-weight: 800;
    color: #fff;
    text-shadow: 0 1px 3px #000;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .profile-header .stat-hero-card {
        transform: scale(0.9);
        transform-origin: center center;
        height: auto !important;
        min-height: 0 !important;
        margin: -15px -25px;
    }
}
