.rarity-common {
  color: gray;
}

.rarity-rare {
  color: lightskyblue;
}

.rarity-epic {
  color: mediumpurple;
}

.rarity-legendary {
  color: orangered;
}

.rarity-mythic {
  color: yellow;
}

.rarity-unique {
  color: green;
}

.rarity-relic {
  color: hotpink;
}

