.item-details-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--text-default-color);
}

.text-default {
    color: var(--text-default-color);
    // Размер шрифта наследуется от родителя (.wiki-stats-block)
    font-size: inherit;
}