.item-details-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--text-default-color);
}

.text-default {
    color: var(--text-default-color);
    font-size: 0.9em;
}