.items-grid {
    display: grid;
    /* Адаптивная сетка: карточки не меньше 100px, но растягиваются */
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 15px;
    width: 100%;
}

/* Адаптив */
@media (max-width: 480px) {
    .items-grid {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;
    }
}