.bg-404 {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-repeat: no-repeat;
    will-change: transform, filter;
    filter: blur(4px); /* Добавляем размытие */
    transition: filter 0.3s ease;
}

/* Отключаем размытие в режиме низкого качества */
.low-res-mode .bg-404 {
    filter: none;
}
